<web-app>
<welcome-file-list>
<welcome-file>1.html
</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>s1</servlet-name>
<servlet-class>login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>s1</servlet-name>
<url-pattern>/login.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s2</servlet-name>
<servlet-class>SubDisplayServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>s2</servlet-name>
<url-pattern>/SubDisplayServlet.html</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>s3</servlet-name>
<servlet-class>FirstPage</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>s3</servlet-name>
<url-pattern>/FirstPage.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s4</servlet-name>
<servlet-class>Download</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>s4</servlet-name>
<url-pattern>/Download.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s5</servlet-name>
<servlet-class>QuestionPaperDownloadControler</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>s5</servlet-name>
<url-pattern>/QuestionPaperDownloadControler.html</url-pattern>
</servlet-mapping>

</web-app>