<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>studytime</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginContoller</display-name>
    <servlet-name>LoginContoller</servlet-name>
    <servlet-class>project.com.controller.LoginContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginContoller</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>project.com.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>project.com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNotesController</display-name>
    <servlet-name>UploadNotesController</servlet-name>
    <servlet-class>project.com.controller.UploadNotesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotesController</servlet-name>
    <url-pattern>/upload_notes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadNotesController</display-name>
    <servlet-name>DownloadNotesController</servlet-name>
    <servlet-class>project.com.controller.DownloadNotesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadNotesController</servlet-name>
    <url-pattern>/download_notes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionPaperUploadController</display-name>
    <servlet-name>QuestionPaperUploadController</servlet-name>
    <servlet-class>project.com.controller.QuestionPaperUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPaperUploadController</servlet-name>
    <url-pattern>/upload_question_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionPaperDownloadController</display-name>
    <servlet-name>QuestionPaperDownloadController</servlet-name>
    <servlet-class>project.com.controller.QuestionPaperDownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPaperDownloadController</servlet-name>
    <url-pattern>/download_question_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNotesController</display-name>
    <servlet-name>DeleteNotesController</servlet-name>
    <servlet-class>project.com.controller.DeleteNotesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNotesController</servlet-name>
    <url-pattern>/delete_notes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaperController</display-name>
    <servlet-name>DeletePaperController</servlet-name>
    <servlet-class>project.com.controller.DeletePaperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaperController</servlet-name>
    <url-pattern>/delete_question_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRollNoController</display-name>
    <servlet-name>AddRollNoController</servlet-name>
    <servlet-class>project.com.controller.AddRollNoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRollNoController</servlet-name>
    <url-pattern>/add_rollno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRollNoSliderController</display-name>
    <servlet-name>AddRollNoSliderController</servlet-name>
    <servlet-class>project.com.controller.AddRollNoSliderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRollNoSliderController</servlet-name>
    <url-pattern>/add_rollno_slider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateYearController</display-name>
    <servlet-name>UpdateYearController</servlet-name>
    <servlet-class>project.com.controller.UpdateYearController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateYearController</servlet-name>
    <url-pattern>/update_year</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRollNoController</display-name>
    <servlet-name>DeleteRollNoController</servlet-name>
    <servlet-class>project.com.controller.DeleteRollNoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRollNoController</servlet-name>
    <url-pattern>/delete_rollno</url-pattern>
  </servlet-mapping>
</web-app>